!!! 5
%html
  %head
    %meta{ charset: 'UTF-8'}
    %title Node
    %script{ src:'../socket.io/socket.io.js'}
    %script{src:'socket.js'}    
    %script{ src:'Snake.js'}
    %script{ src:'Layer.js'}
    %script{ src:'main.js'}
    %link{ rel:'stylesheet', href:'./style.css'}
  %body
    - var text = locals[0] + " wants to eat " + locals[1] + "!"
    %p=text
    %canvas{id:'mon_canvas', width:'1350', height:'630'}

