!!! 5
%html
  %head
    %meta{ charset: 'UTF-8'}
    %title Node
    %link{ rel:'stylesheet', href:'./style.css'}
  %body
    %h1 SNAKE POWERED BY NODE.JS
    %form{action:'/index/add/', method:'post'}
      %label{for:'headN'}Comment s'appelle le serpent?
      %input{type:'text', name:'headN'}
      %label{for:'strawN'}Comment s'appelle la proie?
      %input{type:'text', name:'strawN'}
      %input{type:'submit'}


