!!! 5
%html
  %head
    %meta{ charset: 'UTF-8'}
    %title Node
    %script{ src:'Snake.js'}
    %script{ src:'Layer.js'}
    %script{ src:'main.js'}
    %link{ rel:'stylesheet', href:'./style.css'}
  %body
    %p= locals[0]
    %canvas{id:'mon_canvas', width:'1350', height:'630'}

